<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="moduleName" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Module</label>
            <tab>vendor</tab>
            <resource>Vendor_Module::config_moduleName</resource>
            <group id="moduleName" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>ModuleName</label>                
                <field id="idValue" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Value</label>
                    <comment>Value Comments</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
